{% extends 'headerfooter.html' %}

{% block content %} 

<head>
    <script>

        function deleteItem (id) {
            fetch(`http://localhost:5000/items/${id}`,
            {
                method:'DELETE',
                 headers:{ "Content-Type": "application/json" }
            })
            .then(response => {
                response.json();
                window.location.href='/expense';
            })
            .then(data=>console.log(data))
            .catch((error) =>{
                console.log("Error:"+ error);
            });
        }
        function addNewData(leng) {
            var a=document.getElementById('newExpense').value;
            var b=document.getElementById('newCost').value;
            console.log(a+"💕💕💕 "+b+"🥲🥲🥲🥲"+leng)
            fetch('http://localhost:5000/items',{
                method:'POST',
                headers:{"Content-Type":"application/json"},
                body:JSON.stringify({"id":leng,"name":a,"amount":b})
            })
            .then(response =>{
                response.json();
                window.location.href='/expense';
            })
            .then(data => console.log(data))
            .catch(err=> console.log(err))
            document.getElementById('newExpense').value='';
            document.getElementById('newCost').value='';
        }

    </script>
</head>

<body>
    <div class="container">
        <h1>Budget Planner</h1>
        <div class="budget-info">
            <h2>Budget:{{data.budget}} </h2>
            <h2>Spend: {{data.expense}}</h2>
            <h2>Remaining:{{data.remaining}} </h2>
        </div>
        <h1>Expenses</h1>
        <!-- <input type='text' onChange="handleChange(event)" placeholder="Search items..." /> -->
        <div class="expenses-container">
                {% for i in expense %}
                    {% if i.id != '1234567890' %}
                        <h3>{{ i.name }} - {{ i.amount }}</h3> 
                        <button type="button" onclick="deleteItem('{{i.id}}')">delete</button>
                    {% endif %}
                {% endfor %}

        </div>
        <h1>Add Expenses</h1>
        <input type='text' id="newExpense" placeholder="New Expense" />
        <input type='text' id="newCost" placeholder="Cost" />
        <button type="button" onclick="addNewData('{{leng}}')">Add</button>
    </div>
</body>


{% endblock %}